<div class="col">
  <section
    class="section register min-vh-100 d-flex flex-column align-items-center"
  >
    <div class="row justify-content-center">
      <div
        class="col d-flex flex-column align-items-md-center justify-content-center"
      >
        <!-- Start Logo -->
        <div class="d-flex justify-content-center py-4">
          <a
            href="/"
            class="logo d-flex align-items-center w-auto text-decoration-none"
          >
            <img src="/img/sociout.png" alt="logo" />
            <span class="d-block fs-1 mx-1">SOCIOUT</span>
          </a>
        </div>
        <!-- End Logo -->

        <div
          class="card mb-3 p-3 border-0"
          style="box-shadow: 3px 3px 5px 1px #5b5489"
        >
          <div class="card-body">
            <div class="pb-2">
              <h2 class="card-title text-center pb-4 text-decoration-underline">
                Social Media Platform
              </h2>
              <p class="text-center fs-4">
                A social media website where people can share their thoughts in
                the posts.
                <br />
                A user can also comment and like posts and comments.
                <br />
                All users can interact with each other in a chatroom, where they
                can share their location.
              </p>
            </div>
          </div>
          <div
            class="card-footer d-flex flex-column gap-1 d-sm-flex flex-sm-row justify-content-evenly bg-white p-3"
          >
            <a
              class="btn btn-lg btn-primary border border-0 shadow"
              style="background-color: #ffbd03"
              href="/user/sign-in"
              >Log In</a
            >
            <a
              class="btn btn-lg btn-primary border border-0 shadow"
              style="background-color: #55c2da"
              href="/user/sign-up"
              >Sign Up</a
            >
            <!-- <a
              class="btn btn-lg btn-primary border border-0 shadow"
              style="background-color: #ce98a9"
              href="/auth/google"
              ><i class="bi bi-google" style="height: 10px"></i>oogle</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
