<% if(locals.users && locals.users.length>0) {%> <% for (u of users) {%> <% if
(locals.user.id!==u.id) { %>
<li>
  <a href="/user/profile/<%= u.id %>">
    <i class="bi bi-circle"></i><span><%= u.name %></span>
  </a>
</li>
<% } %> <%} %> <% } else { %>

<li class="no_frnd">No users ...</li>

<% } %>
